In [2]:
# !dir

In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv('MI.csv')

In [23]:
df.head()

,Name,pts,Matches,Wickets,Dots,Fours,Sixes,Catches,Stumpings
0,Hardik Pandya,342.0,16,14,94,28,29,11,0
1,Quinton de Kock,247.5,16,0,0,45,25,17,2
2,Jasprit Bumrah,240.5,16,19,169,0,0,2,0
3,Krunal Pandya,211.0,16,12,94,18,5,5,0
4,Rahul Chahar,183.0,13,13,125,2,0,3,0

In [25]:
df = df.sort_values(by='Matches',ascending=False).reset_index(drop=True)

In [26]:
df

,Name,pts,Matches,Wickets,Dots,Fours,Sixes,Catches,Stumpings
0,Hardik Pandya,342.0,16,14,94,28,29,11,0
1,Jasprit Bumrah,240.5,16,19,169,0,0,2,0
2,Krunal Pandya,211.0,16,12,94,18,5,5,0
3,Suryakumar Yadav,170.0,16,0,0,45,10,9,0
4,Kieron Pollard,132.0,16,0,0,14,22,8,0
5,Quinton de Kock,247.5,16,0,0,45,25,17,2
6,Rohit Sharma,175.0,15,0,0,52,10,4,0
7,Rahul Chahar,183.0,13,13,125,2,0,3,0
8,Lasith Malinga,149.5,12,16,91,0,0,1,0
9,Ishan Kishan,39.0,7,0,0,8,4,2,0
10,Jason Behrendorff,71.5,5,5,54,0,0,0,0
11,Mitchell McClenaghan,60.5,5,3,45,2,0,0,0
12,Yuvraj Singh,38.5,4,0,0,7,6,0,0
13,Mayank Markande,17.0,3,1,11,1,0,0,0
14,Ben Cutting,11.5,3,1,2,1,1,0,0
15,Alzarri Joseph,53.5,3,6,25,2,0,1,0
16,Evin Lewis,24.5,3,0,0,4,2,3,0
17,Jayant Yadav,25.5,2,1,17,0,0,2,0
18,Barinder Sran,7.0,2,0,7,0,0,0,0
19,Rasikh Salam,10.5,1,0,8,0,0,1,0
20,Anukul Roy,7.5,1,1,4,0,0,0,0
21,Siddhesh Lad,6.0,1,0,0,1,1,0,0

In [27]:
# Selecting Top 11 players
df = df.iloc[:11,:]

In [28]:
df

,Name,pts,Matches,Wickets,Dots,Fours,Sixes,Catches,Stumpings
0,Hardik Pandya,342.0,16,14,94,28,29,11,0
1,Jasprit Bumrah,240.5,16,19,169,0,0,2,0
2,Krunal Pandya,211.0,16,12,94,18,5,5,0
3,Suryakumar Yadav,170.0,16,0,0,45,10,9,0
4,Kieron Pollard,132.0,16,0,0,14,22,8,0
5,Quinton de Kock,247.5,16,0,0,45,25,17,2
6,Rohit Sharma,175.0,15,0,0,52,10,4,0
7,Rahul Chahar,183.0,13,13,125,2,0,3,0
8,Lasith Malinga,149.5,12,16,91,0,0,1,0
9,Ishan Kishan,39.0,7,0,0,8,4,2,0
10,Jason Behrendorff,71.5,5,5,54,0,0,0,0

In [39]:
x = df.iloc[:,3:]
y = df['pts']

In [40]:
# Independent variables
x

    Wickets  Dots  Fours  Sixes  Catches  Stumpings
0        14    94     28     29       11          0
1        19   169      0      0        2          0
2        12    94     18      5        5          0
3         0     0     45     10        9          0
4         0     0     14     22        8          0
5         0     0     45     25       17          2
6         0     0     52     10        4          0
7        13   125      2      0        3          0
8        16    91      0      0        1          0
9         0     0      8      4        2          0
10        5    54      0      0        0          0

In [41]:
# Dependent variables
y

0     342.0
1     240.5
2     211.0
3     170.0
4     132.0
5     247.5
6     175.0
7     183.0
8     149.5
9      39.0
10     71.5
Name: pts, dtype: float64

# Calculation player's point

In [42]:
from sklearn import linear_model

In [43]:
clf = linear_model.LinearRegression()

In [44]:
clf.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
clf.predict(x)

array([342. , 240.5, 211. , 170. , 132. , 247.5, 175. , 183. , 149.5,
        39. ,  71.5])

# y = β 0 + β 1 X 1 + β 2 X 2 + β 3 X 3 + β 4 X 4 + β 5 X 5 + β 6 X 6

In [46]:
# values of β1, β2, β3, β4, β5, β6
clf.coef_

array([3.5, 1. , 2.5, 3.5, 2.5, 2.5])

In [47]:
# β0
clf.intercept_

-8.526512829121202e-14

In [51]:
val = y.values

In [54]:
ls_val = list(val)
ls_val

[342.0, 240.5, 211.0, 170.0, 132.0, 247.5, 175.0, 183.0, 149.5, 39.0, 71.5]

# Calculating Team Weight

In [57]:
# MI Team Weight
MI_Team_weight = 0
for i in ls_val:
   MI_Team_weight += i
print(MI_Team_weight//16)

122.0